# Database connection string (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kurticatalog?schema=public"

# Secret key for JWT session cookies
SESSION_SECRET="your-32-character-session-secret"

# Default Admin credentials
ADMIN_EMAIL=your-admin-email
ADMIN_PASSWORD=your-admin-password
UPLOAD_DIR=<upload-directory>
