# Database connection string (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kurticatalog?schema=public"

# Secret key for JWT session cookies
SESSION_SECRET="your-32-character-session-secret"

# Default Admin credentials
ADMIN_EMAIL="admin@kurticatalog.com"
ADMIN_PASSWORD="AdminPassword123!"

# Local Upload Directory for Original and Processed Images
UPLOAD_DIR="public/uploads"
